<div class="mt-4">
    <h1>Khoa hoc cua toi</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ten khoa hoc</th>
                <th scope="col">Trinh do</th>
                <th scope="col">Thoi gian tao</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each Course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-outline-warning">Sua</a>
                    <a href="" class="btn btn-outline-danger" data-id = "{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Xoa</a>
                </td>
            </tr>

            {{else}}
            <tr>
              <td colspan="5">
                ban chua dang khoa hoc nao
                <a href="/courses/create">dang khoa hoc ngay</a>
              </td>              
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>


{{!-- show model confirm delete --}}

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Do you want delete this course?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-warning">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');

        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        
        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>